@import url(http://fonts.googleapis.com/css?family=Nobile);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    border: none;
}
html, body {
    position: relative;
    height: 100%;
    overflow: hidden;

    font: normal 10px 'Nobile', sans-serif;
    color: #a3a3a3;
    background: #f0f0f0;
}
p {
    margin: 5px 0 3px;
}
.time {
    margin: 3px 0;
}

.image, .file {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-box-shadow: 0 0 16px rgba(0,0,0,.16);
       -moz-box-shadow: 0 0 16px rgba(0,0,0,.16);
            box-shadow: 0 0 16px rgba(0,0,0,.16);
}
.file {
    width: 350px;
    height: 46px;
    margin-top: -30px;
    margin-left: -182px;
    padding: 14px;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

    background: #fafafa;
    border: 1px solid #ccc;
}
.file strong {
    font-size: 13px;
    font-weight: normal;
}
.file img {
    float: left;
    margin: 4px 0 0;
}
.info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.file .greenbutton {
    float: right;
    width: 140px;
}



/**
 * Suavé Pure Button
 * @author Hazim Judi <http://lab.hazimjudi.com/cssbuttons/>
 */
.greenbutton{text-align:center;background:-moz-linear-gradient(#57ed7e,#3bda6c 10%,#3fc15c 30%,#319e3e 70%,#1d8c3a 80%,#2c702f 97%,#009232);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#57ed7e),color-stop(10%,#3bda6c),color-stop(30%,#3fc15c),color-stop(70%,#2d993c),color-stop(80%,#1d8c3a),color-stop(97%,#2c702f),to(#009232));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#57ed7e',endColorstr='#009232',GradientType=0);border:1px solid rgba(0,0,0,0.8);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.35);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.35);box-shadow:inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.35);overflow:hidden;margin:0 auto;background-clip:padding-box !important;}
.greenbutton:hover{background:-moz-linear-gradient(#39ee52,#08e254 10%,#3dcf46 30%,#29a33f 70%,#1d9631 80%,#227c31 97%,#1f8c36);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#39ee52),color-stop(10%,#08e254),color-stop(30%,#3dcf46),color-stop(70%,#29a33f),color-stop(80%,#1d9631),color-stop(97%,#227c31),to(#1f8c36));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#39ee52',endColorstr='#1f8c36',GradientType=0);background-clip:padding-box}
.greenbutton:active{background:-moz-linear-gradient(#468a40,#46af4b 99%);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#468a40),color-stop(99%,#46af4b));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468a40',endColorstr='#46af4b',GradientType=0);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.35);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.35);box-shadow:inset 0 1px 0 rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.35);border:1px solid #150004;background-clip:padding-box;background-color:#fff;color:#46af4b}
.greenbutton a{border-bottom:none;display:block;padding:10px;text-shadow:rgba(255,254,251,.4) 0 1px 0;overflow: hidden}
.green{padding-bottom:10px;font-size:15pt;font-family:sans-serif;color:#00480e;overflow:hidden}
