/*
 * CSS Sprite Animations
 *
 * Idea and monsters.png by Chris Driscoll <http://drisc.cc/>
 * CSS and Javascript stuff by Julian Wachholz <http://julianwachholz.ch/>
 */


/* base 'canvas' */
#anim {
    height: 32px;
    width:  32px;
    margin: 50px auto;

    background: url(monsters.png) no-repeat 0 0;
}

#anim.blank     { background-position:   32px   32px; }

#anim.m01.s01 { background-position:    0px    0px; }
#anim.m01.s02 { background-position:  -32px    0px; }
#anim.m01.s03 { background-position:  -64px    0px; }
#anim.m01.s04 { background-position:  -96px    0px; }
#anim.m01.s05 { background-position: -128px    0px; }

#anim.m02.s01 { background-position: -160px    0px; }
#anim.m02.s02 { background-position: -192px    0px; }
#anim.m02.s03 { background-position: -224px    0px; }
#anim.m02.s04 { background-position: -256px    0px; }
#anim.m02.s05 { background-position: -288px    0px; }

#anim.m03.s01 { background-position: -320px    0px; }
#anim.m03.s02 { background-position: -352px    0px; }
#anim.m03.s03 { background-position: -384px    0px; }
#anim.m03.s04 { background-position: -416px    0px; }
#anim.m03.s05 { background-position: -448px    0px; }

#anim.m04.s01 { background-position:    0px  -32px; }
#anim.m04.s02 { background-position:  -32px  -32px; }
#anim.m04.s03 { background-position:  -64px  -32px; }
#anim.m04.s04 { background-position:  -96px  -32px; }
#anim.m04.s05 { background-position: -128px  -32px; }

#anim.m05.s01 { background-position: -160px  -32px; }
#anim.m05.s02 { background-position: -192px  -32px; }
#anim.m05.s03 { background-position: -224px  -32px; }
#anim.m05.s04 { background-position: -256px  -32px; }
#anim.m05.s05 { background-position: -288px  -32px; }

#anim.m06.s01 { background-position: -320px  -32px; }
#anim.m06.s02 { background-position: -352px  -32px; }
#anim.m06.s03 { background-position: -384px  -32px; }
#anim.m06.s04 { background-position: -416px  -32px; }
#anim.m06.s05 { background-position: -448px  -32px; }

#anim.m07.s01 { background-position:    0px  -64px; }
#anim.m07.s02 { background-position:  -32px  -64px; }
#anim.m07.s03 { background-position:  -64px  -64px; }
#anim.m07.s04 { background-position:  -96px  -64px; }
#anim.m07.s05 { background-position: -128px  -64px; }

#anim.m08.s01 { background-position: -160px  -64px; }
#anim.m08.s02 { background-position: -192px  -64px; }
#anim.m08.s03 { background-position: -224px  -64px; }
#anim.m08.s04 { background-position: -256px  -64px; }
#anim.m08.s05 { background-position: -288px  -64px; }

#anim.m09.s01 { background-position: -320px  -64px; }
#anim.m09.s02 { background-position: -352px  -64px; }
#anim.m09.s03 { background-position: -384px  -64px; }
#anim.m09.s04 { background-position: -416px  -64px; }
#anim.m09.s05 { background-position: -448px  -64px; }

#anim.m10.s01 { background-position:    0px  -96px; }
#anim.m10.s02 { background-position:  -32px  -96px; }
#anim.m10.s03 { background-position:  -64px  -96px; }
#anim.m10.s04 { background-position:  -96px  -96px; }
#anim.m10.s05 { background-position: -128px  -96px; }

#anim.m11.s01 { background-position: -160px  -96px; }
#anim.m11.s02 { background-position: -192px  -96px; }
#anim.m11.s03 { background-position: -224px  -96px; }
#anim.m11.s04 { background-position: -256px  -96px; }
#anim.m11.s05 { background-position: -288px  -96px; }
/* the big one */
#anim.m12a { width: 64px; height: 64px; }
#anim.m12a.s01 { background-position: -320px -96px; }
#anim.m12a.s02 { background-position: -384px -96px; }

#anim.m12b.s01 { background-position: -320px -160px; }
#anim.m12b.s02 { background-position: -352px -160px; }
#anim.m12b.s03 { background-position: -384px -160px; }
#anim.m12b.s04 { background-position: -416px -160px; }
#anim.m12b.s05 { background-position: -448px -160px; }

#anim.m13.s01 { background-position:    0px  -128px; }
#anim.m13.s02 { background-position:  -32px  -128px; }
#anim.m13.s03 { background-position:  -64px  -128px; }
#anim.m13.s04 { background-position:  -96px  -128px; }
#anim.m13.s05 { background-position: -128px  -128px; }

#anim.m14a.s01 { background-position: -160px -128px; }
#anim.m14a.s02 { background-position: -192px -128px; }
#anim.m14a.s03 { background-position: -224px -128px; }
#anim.m14a.s04 { background-position: -256px -128px; }
#anim.m14a.s05 { background-position: -288px -128px; }

#anim.m14b.s01 { background-position: -160px -160px; }
#anim.m14b.s02 { background-position: -192px -160px; }
#anim.m14b.s03 { background-position: -224px -160px; }
#anim.m14b.s04 { background-position: -256px -160px; }
#anim.m14b.s05 { background-position: -288px -160px; }

#anim.m15a.s01 { background-position:    0px -160px; }
#anim.m15a.s02 { background-position:  -32px -160px; }
#anim.m15a.s03 { background-position:  -64px -160px; }
#anim.m15a.s04 { background-position:  -96px -160px; }
#anim.m15a.s05 { background-position: -128px -160px; }

#anim.m15b.s01 { background-position:    0px -192px; }
#anim.m15b.s02 { background-position:  -32px -192px; }
#anim.m15b.s03 { background-position:  -64px -192px; }
#anim.m15b.s04 { background-position:  -96px -192px; }
#anim.m15b.s05 { background-position: -128px -192px; }

#anim.m16.s01 { background-position: -160px -192px; }
#anim.m16.s02 { background-position: -192px -192px; }
#anim.m16.s03 { background-position: -224px -192px; }
#anim.m16.s04 { background-position: -256px -192px; }
#anim.m16.s05 { background-position: -288px -192px; }
#anim.m16.s06 { background-position: -160px -224px; }
#anim.m16.s07 { background-position: -192px -224px; }
#anim.m16.s08 { background-position: -224px -224px; }
#anim.m16.s09 { background-position: -256px -224px; }
#anim.m16.s10 { background-position: -288px -224px; }
#anim.m16.s11 { background-position: -160px -256px; }
#anim.m16.s12 { background-position: -192px -256px; }
#anim.m16.s13 { background-position: -224px -256px; }
#anim.m16.s14 { background-position: -256px -256px; }
#anim.m16.s15 { background-position: -288px -256px; }

#anim.m17.s01 { background-position: -320px -192px; }
#anim.m17.s02 { background-position: -352px -192px; }
#anim.m17.s03 { background-position: -384px -192px; }
#anim.m17.s04 { background-position: -416px -192px; }
#anim.m17.s05 { background-position: -448px -192px; }
#anim.m17.s06 { background-position: -320px -224px; }
#anim.m17.s07 { background-position: -352px -224px; }
#anim.m17.s08 { background-position: -384px -224px; }
#anim.m17.s09 { background-position: -416px -224px; }
#anim.m17.s10 { background-position: -448px -224px; }
#anim.m17.s11 { background-position: -320px -256px; }
#anim.m17.s12 { background-position: -352px -256px; }
#anim.m17.s13 { background-position: -384px -256px; }
#anim.m17.s14 { background-position: -416px -256px; }
#anim.m17.s15 { background-position: -448px -256px; }

#anim.m18.s01 { background-position:   -0px -224px; }
#anim.m18.s02 { background-position:  -32px -224px; }
#anim.m18.s03 { background-position:  -64px -224px; }
#anim.m18.s04 { background-position:  -96px -224px; }
#anim.m18.s05 { background-position: -128px -224px; }
#anim.m18.s06 { background-position:   -0px -256px; }
#anim.m18.s07 { background-position:  -32px -256px; }
#anim.m18.s08 { background-position:  -64px -256px; }
#anim.m18.s09 { background-position:  -96px -256px; }
#anim.m18.s10 { background-position: -128px -256px; }
