/* site style */
html, body {
    margin: 0;
    padding: 0;
}

html {
    background: #fafafc;
}

body {
    width: 600px;
    margin: auto;
    padding: 30px 0;
    color: #333;
    font: normal 13px/1.5 sans-serif;
    text-align: center;
}

h1 {
    color: #ffaaff;
    font: bold 60px/2 'Myriad Pro';
    text-shadow: 1px 1px 0 #ff5599, 2px 2px 0 #ff5599, 3px 3px 0 #ff5599;
}

a {
    color: #1f1010;
    text-decoration: none;
    border-bottom: 1px dotted #ffaaff;
}