html {
    margin: 0 auto;
    max-width: 85%;
    font: normal 300 18px/1.9 'Roboto', sans-serif;
    background: #f5f5f5;
    color: #303030;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #303030;
        color: #f5f5f5;
    }
}

h1, h2, h3 {
    font-weight: 300;
}

a {
    color: #eff1f5;
    color: inherit;
}

abbr {
    text-decoration: none;
}

header {
    position: relative;
}

figure {
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0;
    float: left;
    border-radius: 4px;
    transform: rotate(-5deg);
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 110px;
    height: 110px;
    transform: rotate(5deg) translate(-5px, -5px);
}

ol {
    list-style: disc;
}
footer {
    clear: both;
}

.tags li {
    list-style: none;
    float: left;
    margin: 0 7px 0 0;
}

@media only screen and (min-width: 641px) {
    html {
        max-width: 800px;
        padding-left: 200px;
    }
    figure {
        position: absolute;
        top: 10px;
        left: -125px;
    }
}
